body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 125%;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.base-col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.icon-col {
  width: 50%;
}

.link-block {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: -14px;
  margin-left: auto;
  text-align: center;
}

.github-img-icon {
  max-width: 30%;
  margin-top: 6px;
  margin-bottom: 9px;
  opacity: .77;
}

.icon-img {
  max-width: 35%;
  margin-right: auto;
  margin-bottom: 1px;
  margin-left: auto;
  padding-top: 0px;
}

/* .link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
} */

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  /* border: 1px solid #bbb;
  border-radius: 10px; */
  padding: 0;
  /* font-size: 0; */
}

.results-carousel video {
  margin: 0;
  display: inline-block;
  /* border: 1px transparent; */
  /* border-radius: 10px; */
  width: 100%;
}

.tt {
  font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
}

/* how to get hr to be shorter than the line? */
.hr-small {
  width: 90%;
  margin: auto;
  margin-top: -15px;
  margin-bottom: 20px;
}

details {
  margin-top: -10px;
}

details>summary {
  padding: 2px 6px;
  width: 11%;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  margin-left: 9%;
  margin-bottom: 15px;
}

details[open]>summary {
  background-color: #ccf;
}

/* <h2 class="title is-3 has-text-centered">Qualitative Results</h2> */
/* h2.title.is-3 {
  margin-top: -50px;
} */

/* <p class="arrow-right"> */
.arrow-right {
  position: relative;
  margin-right: 30px;
  margin-left: 15px;
}

.arrow-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 15px solid black;
  margin-top: -5px;
}

/* <div class="column is-5"> */
.column.is-5 {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

video {
  width: 100%;
  display: inline-block;
}

/* @media (min-width: 768px) {
  video {
    width: 70%;
  }
} */



.teaser-body {
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .teaser-body {
    width: 75%;
  }
}

.text-display {
  font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
}

.rainbow {
  font-weight: 1000;
  background: linear-gradient(to right, #7e57c2, #2196f3, #26c6da, #43a047 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-prompt {
  font-family: 'ink free', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
  font-size: 1.25em;
  min-height: 4em;
}

.card-gallery {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}

.card-gallery .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}

.card-gallery:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card-gallery:hover .backgroundEffect {
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #e43d42;
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}

.card-gallery .pic {
  position: relative
}

.card-gallery .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover
}

#form { 
  text-align: center; 
  position: relative; 
  margin-top: 20px
} 

#form fieldset { 
  background: white; 
  border: 0 none; 
  border-radius: 0.5rem; 
  box-sizing: border-box; 
  width: 100%; 
  margin: 0; 
  padding-bottom: 20px; 
  position: relative
} 

.finish { 
  text-align: center
} 

#form fieldset:not(:first-of-type) { 
  display: none
} 

#form .previous-step, .next-step { 
  width: 100px; 
  font-weight: bold; 
  color: white; 
  border: 0 none; 
  border-radius: 0px; 
  cursor: pointer; 
  padding: 10px 5px; 
  margin: 10px 5px 10px 0px; 
  float: right
} 

.form, .previous-step { 
  background: #616161; 
} 

.form, .next-step { 
  background: #2F8D46; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
  background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
  background-color: #2F8D46
} 

/* .text { 
  color: #2F8D46; 
  font-weight: normal
}  */

.progressbar { 
  margin-bottom: 30px; 
  overflow: hidden; 
  color: lightgrey 
} 

.progressbar .active { 
  color: #2F8D46
} 

.progressbar li { 
  list-style-type: none; 
  font-size: 15px; 
  width: 25%; 
  float: left; 
  position: relative; 
  font-weight: 400;
} 

.progressbar .step1:before { 
  content: "1";
} 

.progressbar .step2:before { 
  content: "2";
} 

.progressbar .step3:before { 
  content: "3";
} 

.progressbar .step4:before { 
  content: "4";
} 

.progressbar li:before { 
  width: 50px; 
  height: 50px; 
  line-height: 45px; 
  display: block; 
  font-size: 20px; 
  color: #ffffff; 
  background: lightgray; 
  border-radius: 50%; 
  margin: 0 auto 10px auto; 
  position: relative;
  padding: 2px;
  z-index: 1;
} 

.progressbar li:after { 
  content: ''; 
  width: 100%; 
  height: 2px; 
  background: lightgray; 
  position: absolute; 
  left: 0; 
  top: 25px; 
  z-index: 0;
} 

.progressbar li.active:before, 
.progressbar li.active:after { 
  background: #2F8D46;
} 

.progress { 
  height: 20px
} 

.progress-bar { 
  background-color: #2F8D46
}

.thumbnail:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.author-list {
  font-size: 1.2rem;
}

.author-list a {
  color: hsl(204, 86%, 53%) !important;
  text-decoration: none;
}

.author-list a:hover {
  text-decoration: underline;
}

.author-affiliation {
  color: #616161;
  font-size: 1.5rem;
}

/* .external-link .btn {
  border-radius: 23px;
} */